@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
$white :#FFFFFF;
$box-shadow :0px 5px 10px rgba(0,0,0,0.1);
$html :rgba(63, 97, 133, 1);
$laravel :rgba(220, 89, 76, 1);
$php :rgba(85, 101, 152, 1);
$css :rgba(36, 171, 226, 1);
$ruby :rgba(225, 78, 64, 1);
$java :rgba(27, 117, 187, 1);
$black :#11114E;
$green :#B2D235;
$cardText :#505353;
$yellow :#B2D235;
$paleYellow : #90AB26;
