.header {
  position: absolute;
  box-shadow: $box-shadow;
  background: $white;
  height: 150px;
}

.logo {
  width: 340.16px;
  height: 70px;

  .logo-hp {
    width: 100%;
  }
}

.nav {
  .menu-nav {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    border-radius: 50px;
    color: $black;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background: $yellow;
      border-radius: 17px;
    }
  }
}

.menu-bar {
  cursor: pointer;
  font-size: 20px;
  display: none;
  transition: 2s linear;
}

.modal-content {
  background: none;
  border: none;
}

@media (max-width: 1920px) {
  .header {
    .header-container {
      padding: 26px 150px;
    }

    .nav {
      .menu-nav {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .header {
    .header-container {
      padding: 26px 80px;
    }
  }
}

@media (max-width: 1200px) {
  .header {
    .header-container {
      padding: 26px 45px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    .header-container {
      flex-direction: column;
    }

    .nav {
      padding-top: 10px;
      gap: 30px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    .header-container {
      padding: 0px 45px;
    }

    .nav {
      gap: 0;
      .menu-nav {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    height: 62px;

    .header-container {
      flex-direction: row;
    }

    .logo {
      width: 150px;
      height: 26px;
      margin-bottom: 5px;
      margin-right: 7rem;
    }

    .menu-bar {
      display: block;
    }

    .nav {
      left: -100%;
      height: 800px;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 100%;
      background: $white;
      display: block;
      font-size: 16px;
      line-height: 22px;

      .menu-nav {
        padding-bottom: 20px;
        display: block;
      }
    }

    .show {
      left: 0%;
    }
  }
}

@media (max-width: 375px) {
  .header {
    .logo {
      margin-right: 4rem;
    }
  }
}
