.message {
  position: fixed;
  right: 33px;
  bottom: 70px;

  .body {
    background: $white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    display: flex;
    gap: 33px;
  }

  .logo {
    margin-top: 20px;
    margin-left: 50px;
    img {
      float: right;
    }
  }
}

.message {
  .mess-body {
    display: none;
  }

  .show {
    display: block;
  }
}

.body {
  .icon-con-cu {
    width: 35px;
    height: 35px;
    border: 1px solid #dadada;
    position: relative;
    margin-top: 60px;
  }

  .mess-content {
    margin-top: 20px;

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.02em;
      color: #7f7f7f;
      padding-top: 10px;
      padding-left: 15px;
    }

    .content {
      background: #f1f0f0;
      border-radius: 15px;
    }

    a {
      width: 100%;
      border-radius: 10px;
      text-align: center;
      align-items: center;
    }

    .mess-icon {
      width: 26px;
    }
  }

  .close-mess {
    border-radius: 25px;
    width: 24px;
    height: 24px;
    margin-top: 20px;
    padding: 0 8px;
    background-color: #c4c4c4;
  }
}

.content {
  p {
    padding: 10px 0 10px 10px;
  }
}
