.static-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 56px;
  max-width: 90%;
  margin: 0 auto;

  .static-title {
    font-weight: 700;
    font-size: 80px;
    font-family: $fontNunito;
    line-height: 98px;
    letter-spacing: -0.02em;
    color: $black;
    border-bottom: 3px solid $green;
  }

  .static-content {
    gap: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;

  }

  .content {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    font-family: $fontNunito;

    .key {
      color: $cardText;
      font-family: $fontNunito;
    }

    .values {
      color: $green;
    }
  }
}


@media (max-width: 1600px) {
  .static-container {
    .static-content {
      gap: 200px;
    }
  }
}

@media (max-width: 1200px) {
  .static-container {
    .static-content {
      gap: 110px;
    }
  }
}

@media (max-width: 992px) {
  .static-container {
    .static-content {
      gap: 114px;

      .content {
        font-size: 50px;
      }
    }

    .content {
      .key {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  .static-container {
    gap: 28px;
    margin-top: 50px;

    .static-title {
      line-height: 17px;
      font-size: 50px;
    }

    .static-content {
      gap: 52px;

      .content {
        font-size: 37px;

      }

    }
  }

  .content {
    .key {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 576px) {
  .static-container {
    .static-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 35px;
    }
  }
}
