.why-hp {
  background-image: url("https://res.cloudinary.com/derrfxjxx/image/upload/v1646796205/Rectangle_17_rn0hko.png");
  width: 100%;
  height: 740px;
  margin-top: 100px;

  .content-why-hp {
    position: absolute;
    padding-top: 37px;
    margin-left: 30%;
    display: none;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 107px;
    text-align: center;
    letter-spacing: -0.02em;
    color: $white;
  }

  .mb-left {
    position: absolute;
    margin-top: -16%;
    width: 28%;
    transform: rotate(17.12deg);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .why-down {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mb-right {
    width: 60%;
    height: 75%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    height: 45%;
    padding-top: 8%;
    padding-left: 2%;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 107px;
    text-align: center;
    letter-spacing: -0.02em;
    color: $white;

    .why-content {
      font-weight: 400;
      margin-right: 5%;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.05em;
      color: $white;
    }
  }
}

.content {
  .why-content {
    img {
      padding-right: 10px;
    }
  }
}

@media (max-width: 1500px) {
  .why-hp {
    .why-down {
      padding-top: 10%;
    }
    .content {
      font-size: 53px;

      .why-content {
        font-size: 17px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .why-hp {
    height: 640px;

    .content {
      padding-right: 47%;
      font-size: 55px;
      line-height: 74px;

      .why-content {
        font-size: 15px;
        line-height: 0;
      }
    }

    .mb-right {
      position: absolute;
      width: 57%;
      height: 69%;
      left: 43%;
    }
  }
}

@media (max-width: 992px) {
  .why-hp {
    height: 540px;

    .content {
      font-size: 41px;

      .why-content {
        font-size: 14px;
      }
    }

    .mb-right {
      width: 55%;
      height: 64%;
      left: 43%;
    }
  }
}

@media (max-width: 768px) {
  .why-hp {
    height: 640px;

    .why-down {
      padding-top: 27%;
    }

    .content-why-hp {
      display: block;
      margin-left: 20%;
    }

    .content {
      padding-right: 55%;
      font-size: 55px;
      line-height: 74px;

      b {
        display: none;
      }

      .why-content {
        font-size: 13px;
        margin-right: 0;
      }
    }

    .mb-right {
      position: absolute;
      width: 57%;
      height: 69%;
      left: 43%;
    }
  }
}

@media (max-width: 576px) {
 .why-hp {
   .mb-left {
     margin-left: 2%;
   }

   .content-why-hp {
     display: block;
     margin-left: 27%;
     text-align: left;
     font-size: 40px;
     width: 50px;
     line-height: 1;
   }

   .why-down {
     flex-direction: column;
   }

   .content {
     padding-right: 0;
   }

   .mb-right {
     position: absolute;
     height: 39%;
     left: 22%;
     margin-top: 113%;
   }
 }
}
