.reset {
  background-color: #F2F2F2;

  .reset-password {
    margin-top: 72px;
    margin-bottom: 110px;
    background-color: $white;
    font-family: $fontNunito;
    font-style: normal;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 65px;
    gap: 20px;

    form {
      width: 33%;

      .btn-reset {
        background: $green;
        box-shadow: inset 0px 1.5px 2px #6F8710;
        border-radius: 22px;
        font-family: $fontNunito;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: $white;
        padding: 11px 32px;
      }
    }

    .title-reset {
      font-size: 30px;
      line-height: 37px;
      letter-spacing: -0.02em;
      color: $green;
    }

    .content-reset {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.02em;
      color: #505353;
    }
  }
}
