.filter-container {
  margin-top: 200px;
  display: flex;
  gap: 15px;

  .filter-options {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    display: flex;
    gap: 9px;
    padding: 8px 19px;
    align-items: center;
    justify-content: center;

    img {
      width: 18px;
      height: 23px;
    }

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #505353;
    }
  }

  .form-search {
    form {
      display: flex;
    }
  }
}

.form-search {
  form {
    input {
      width: 355px;
      height: 40px;
    }

    btn-search {
      margin-left: 20px;
      background: #B2D235;
      border: 1px solid #B2D235;
      border-radius: 5px;
    }
  }
}
